@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
/* 
@layer base {
  html {
    font-family: "Dosis", sans-serif;
  }
} */

@layer utilities {
  .nav-active {
    @apply text-stone-900;
  }
  .bg-custom-gradient {
    background: linear-gradient(180deg, var(--slate-800), var(--slate-900));
  }
  .text-1-5xl {
    font-size: 21px; /* 20px */
    line-height: 30px; /* 28px */
  }

  .scrollbar {
    scrollbar-width: auto;
    scrollbar-color: auto;
  }

  .scrollbar-thin {
    scrollbar-width: auto;
    scrollbar-color: auto;
  }

  body {
    @apply w-full h-screen;
  }
}

@keyframes blink {
  0% {
    filter: drop-shadow(0 0 0.25rem rgb(0, 255, 47));
  }
  50% {
    filter: drop-shadow(0 0 0.75rem rgba(0, 175, 32, 0));
  }
  100% {
    filter: drop-shadow(0 0 0.25rem rgb(0, 255, 47));
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

.tabs-active {
  border-top: 2px solid rgb(28 25 23 / 0.2);
  border-left: 2px solid rgb(28 25 23 / 0.2);
  border-right: 2px solid rgb(28 25 23 / 0.2);
  background-color: #eef0f3;
  border-radius: 6px 6px 0 0;
}

.tabs-deactive {
  border-bottom: 2px solid rgb(28 25 23 / 0.2);
  border-top: 2px solid rgb(28 25 23 / 0);
  border-left: 2px solid rgb(28 25 23 / 0);
  border-right: 2px solid rgb(28 25 23 / 0);
  border-radius: 6px 6px 0 0;
}
.tabs-date {
  border-bottom: 2px solid rgb(28 25 23 / 0.2);

  border-radius: 0px 6px 0 0;
}

.pie-active {
  color: #19ae9d;
}

.cls-1 {
  fill: #07b7a3;
}

.cls-2,
.cls-3 {
  fill: #19ae9d;
}

.cls-3 {
  font-size: 107.71px;
}

.cls-3 .cls-4 {
  font-family: "Dosis", sans-serif;
}

.cls-4 {
  font-size: 105.8px;
}

.cls-4,
.cls-5 {
  fill: #ededed;
}

.cls-6 {
  fill: none;
  stroke: #ededed;
  stroke-miterlimit: 100;
  stroke-width: 3px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
